/* Nice 1px lines between all the cells in a table */
table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	text-align: center;
	padding: 5px;
}
table td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	text-align: center;
	padding: 5px;
}
/* Don't center the name field of tables */
table td.name {
	text-align: left;
}

/* Remove extra linefeed after forms */
form {
	display: inline;
}

/* Make all the link states the same color */
a, a:link, a:hover, a:visited, a:active {
	color: blue;
}

/* Make reboot required systems stand out */
.reboot {
	background-color: yellow;
}

/* Make absent systems stand out */
.absent {
	background-color: yellow;
}

/* Make version in the footer pretty */
.footer-version {
	text-align: center;
	font-size: 8pt;
}
