#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

binary-indep: forest-server

forest-client:
	dh_testdir
	dh_testroot
	dh_installdirs -p$@
	dh_install --fail-missing -p$@
	dh_installcron --name=forest-client
	dh_compress -p$@
	dh_fixperms -p$@
	dh_installdeb -p$@
	dh_gencontrol -p$@
	dh_md5sums -p$@
	dh_builddeb -p$@

forest-server:
	dh_testdir
	dh_testroot
	dh_installdirs -p$@
	dh_install --fail-missing -p$@
	dh_installcron --name=forest-server
	dh_compress -p$@
	dh_fixperms -p$@
	dh_installdeb -p$@
	dh_gencontrol -p$@
	dh_md5sums -p$@
	dh_builddeb -p$@

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:
	cd client
	./configure
	make

binary: binary-indep forest-client
	

.PHONY: forest-client forest-server
